BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
SpacesInParentheses: true
SpacesInAngles: true
SpacesInCStyleCastParentheses: true
SpaceInEmptyParentheses: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
PointerAlignment: Right
AllowShortLoopsOnASingleLine: false
ColumnLimit: 80
AccessModifierOffset: -8
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: true
SpacesInContainerLiterals: true
Standard: Cpp11
AlwaysBreakBeforeMultilineStrings: true
PenaltyReturnTypeOnItsOwnLine: 100000
PenaltyExcessCharacter: 100
PenaltyBreakString: 100000
KeepEmptyLinesAtTheStartOfBlocks: true
