[user]
	name = Jason Cox
	email = Jason.P.Cox@ibm.com

[merge]
	conflicttyle = diff3
	tool = vimdiff

[status]
	showUntrackedFiles = all

[push]
	default = simple
	followtags = true
[diff]
	tool = nvim -d
	renamelimit = 999999

[difftool]
	prompt = false

[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c '$wincmd J'
[pull]
	rebase = false
