[user]
	name = Jason Cox
	email = jasonc@teamplayinc.com
[credential]
	helper = cache
[help]
	autocorrect = 1
[init]
[push]
	default = simple
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = false
[mergetool]
	prompt = false
[color]
	diff = false
