[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master
[submodule "zsh-titles"]
	path = zsh-titles
	url = https://github.com/jreese/zsh-titles.git
	branch = master
[submodule "zsh-navigation-tools"]
	path = zsh-navigation-tools
	url = https://github.com/psprint/zsh-navigation-tools.git
[submodule "vim-clap"]
	path = vim-clap
	url = https://github.com/liuchengxu/vim-clap.git
