*.pyc
antigen
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/ede-projects.el
emacs/.emacs.d/elpa
emacs/.emacs.d/extern/cask
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/recentf
emacs/.emacs.d/semanticdb
emacs/.emacs.d/org-clock-save.el
fzf
newsboat/.newsboat_local
newsboat/.newsboat/error.log
packages
tmux/.tmux/plugins
vim/.vim.local
vim/.vim.local/.viminfo
vim/.vim/.netrwhist
vim/.vim/autoload/
vim/.vim/bundle
vim/.vim/bundle/.neobundle
weechat/.weechat/lua
weechat/.weechat/ruby
weechat/.weechat/script/plugins.xml.gz
weechat/.weechat/urlserver_list.txt
weechat/.weechat/urlserver_list.txt
weechat/.weechat/weechat.log
weechat/.weechat/weechat.log
xmonad*/.xmonad/xmonad-x86_64-linux
xmonad*/.xmonad/xmonad.errors
xmonad*/.xmonad/xmonad.hi
xmonad*/.xmonad/xmonad.o
xmonad-desktop/.xmonad/xmonad-x86_64-linux
xmonad-desktop/.xmonad/xmonad.o
zgen
zsh/.zprezto
nvim/.config/*
!nvim/.config/nvim
bin/bin/nvim*
nvim/nvim.appimage
nvim/nvim
nvim/.config/nvim/plugged
nvim/.config/nvim/autoload/plug.vim
bin/darwin/ghq
bin/linux/ghq
