vim/.vim/bundle
zsh/.zprezto
vim/.vim/.netrwhist
vim/.vim.local
xmonad*/.xmonad/xmonad-x86_64-linux
xmonad*/.xmonad/xmonad.o
xmonad*/.xmonad/xmonad.hi
xmonad*/.xmonad/xmonad.errors
weechat/.weechat/weechat.log
weechat/.weechat/urlserver_list.txt
vim/.vim/bundle/.neobundle
weechat/.weechat/lua
weechat/.weechat/ruby
weechat/.weechat/urlserver_list.txt
weechat/.weechat/weechat.log
xmonad-desktop/.xmonad/xmonad-x86_64-linux
xmonad-desktop/.xmonad/xmonad.o
weechat/.weechat/script/plugins.xml.gz
vim/.vim/autoload/
emacs/.emacs.d/elpa
emacs/.emads.d/semanticdb
emacs/.emacs.d/recentf
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/ede-projects.el
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/extern/cask
packages
zgen
antigen
fzf
*.pyc
vim/.vim.local/.viminfo
tmux/.tmux/plugins
newsboat/.newsboat_local
