#!/bin/bash

/usr/bin/numlockx on
eval "$(/usr/bin/ssh-agent -s)"
/usr/bin/urxvtd -q -f -o
/usr/bin/unclutter -noevents &
/usr/bin/xsetroot -cursor_name left_ptr
/usr/bin/xrdb -merge ~/.Xresources
/usr/bin/setxkbmap -option "ctrl:swapcaps"
/usr/bin/feh --bg-scale ~/.wallpaper.jpg

/usr/bin/i3
